{
  "url": "https://your.domain.name/your_downloads_dir_name/",
  "http_user": "YOUR_USERNAME",
  "http_password": "YOUR_PASSWORD",
  "file_type": [
    ".mp4",
    ".wmv",
    ".mkv",
    ".avi",
    ".zip",
    ".rar",
    ".7z",
    ".tar",
    ".ANY_OTHER"
  ],
  "mirror": [
    "https://mirror1.aaa.com/any/",
    "https://mirror2.bbb.org/proxy/",
    "https://mirror3.ccc.net/directory/",
    "https://mirror4.ddd.me/name/"
  ]
}