dir=/mnt/usb/aria2
disable-ipv6=true
enable-rpc=true
rpc-allow-origin-all=true
rpc-listen-all=false
rpc-listen-port=6800
rpc-secret=YOUR_TOKEN
continue=true
input-file=/var/aria2.session

save-session=/var/aria2.session
max-concurrent-downloads=5
ca-certificate=/etc/nginx/certs/ca-bundle.pem
check-certificate=true

http-auth-challenge=true
http-user=HTTP_USER
http-passwd=HTTP_PASSWORD
file-allocation=trunc
max-connection-per-server=10
split=10
max-concurrent-downloads=10
min-split-size=2097152

on-download-complete=/etc/aria2-complete.sh
